<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.bello.mapper.MemberMapper">

	<insert id="join" parameterType="com.smhrd.bello.model.SpringMember">
		insert into user_info values (#{user_id}, md5(#{user_pw}), #{user_name}, now(),#{doorbell_num})
	</insert>  

  	<select id="login" parameterType="com.smhrd.bello.model.SpringMember"
  					resultType="com.smhrd.bello.model.SpringMember">
		select * from user_info where user_id=#{user_id} and user_pw=md5(#{user_pw})  
  	</select>
  	

  </mapper>